<div class="col-md-6 col-md-offset-3">
    <h1>Hi {{vm.user.firstName}}!</h1>
    <h2>Add a Todo:</h2>
    <form name="form" ng-submit="vm.addNew()" role="form">
        <div class="form-group">
            <label for="todo">To-Do</label>
            <input type="text" name="todo" id="todo" class="form-control" ng-model="vm.todo" required />
        </div>
        <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid" class="btn btn-success">Add</button>
            <button class="btn btn-warning" ng-hide="vm.editMode" ng-click="vm.TriggerEditMode()">Edit</button>
        </div>
    </form>
    <div>
            <p>Your Todos:</p>
            <ol>
                <li ng-repeat="todo in vm.todos">
                    <span ng-hide="vm.editMode" ng-bind="todo"></span>
                    <input ng-show="vm.editMode" type="text" ng-model="todo" required />
                    <button class="btn btn-danger btn-md" ng-hide="vm.editMode" ng-click="vm.deleteTodo($index)">Delete</button> 
                </li>
            </ol>
            <button class="btn btn-success" ng-show="vm.editMode" ng-click="vm.TriggerEditMode()">Update</button>
        </div>
        <br>
        <a href="#!/login" class="btn btn-primary">Logout</a>
</div>